@import twatcher.controllers.{routes => ctrlRoutes}

@(body: Html)(implicit messages: Messages)

@followButton = {
<a href="https://twitter.com/srd7" class="twitter-follow-button" data-show-count="false">Follow @@srd7</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Twatcher</title>
    <link type="text/css" rel="stylesheet" href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")">
    <link type="text/css" rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main.css")">
  </head>
  <body>
    <div id="header">
      <div class="container">
        <div id="logo">
          Twatcher
        </div>
        <div id="links">
          <a href="@ctrlRoutes.AppController.index">@Messages("header.index")</a>
          <a href="@ctrlRoutes.AppController.showSetting">@Messages("header.setting")</a>
          <a href="@ctrlRoutes.AppController.shutdown">@Messages("header.shutdown")</a>
        </div>
        <div id="followme">
          @followButton
        </div>
      </div>
    </div>
    <div id="body">
      <div class="container">
        @body
      </div>
    </div>
    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/jquery.min.js")"></script>
    <script type="text/javascript" src="@ctrlRoutes.AppController.jsRoutes"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/main.js")"></script>
  </body>
</html>
