@import twatcher.controllers.{routes => ctrlRoutes}

@(body: Html)

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Twatcher</title>
    <link type="text/css" rel="stylesheet" href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")">
    <link type="text/css" rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main.css")">
  </head>
  <body>
    <div id="header">
      <div class="container">
        <div id="logo">
          Twatcher
        </div>
      </div>
    </div>
    <div id="body">
      <div class="container">
        @body
      </div>
    </div>
    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/jquery.min.js")"></script>
    <script type="text/javascript" src="@ctrlRoutes.AppController.jsRoutes"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("main.js")"></script>
  </body>
</html>
