@()(implicit messages: Messages)

@common {
  <h1>@Messages("index.whatisthis.title")</h1>
  <p>@Messages("index.whatisthis.description")<p>

  <h1>@Messages("index.usage.title")</h1>
  <p>
    @Messages("index.usage.description")
    <p class="bold">
      <a href="https://www.google.co.jp/?q=startup%20program" target="_blank">@Messages("index.usage.google")</a>
    </p>
  <p>

  <h1>@Messages("index.caution.title")</h1>
  <p>@Messages("index.caution.description.1")<p>
  <p class="bold">@Messages("index.caution.description.2")<p>

  <h1>@Messages("index.setting.title")</h1>
  <p>@Messages("index.setting.description")</p>

  <h3>@Messages("index.contact.title")</h1>
  <p>
    <div>
      <a href="https://twitter.com/srd7" target="_blank">Twitter</a>
    </div>
    <div>
      <a href="https://github.com/srd7/twatcher" target="_blank">GitHub</a>
    </div>
  </p>
}
